THIS NOTEBOOK CONTAINS ALL THE BASICS OF PYTHON WITH FEW DATA STRUCTURES. Enjoy learning!

In [2]:
#python basics
#hello world program. u just need to write a print statement and a string in it.
print("Hello World")

Hello World

In [3]:
#variables are the containers or placeholders of data. they hold a data type.
a=5 #a is a variable of type integer
print(a)
b=5.5 #b is a variable of type float
print(b)
c="I am a student" #c is a variable of type string
print(c)
d='a' #d is a character, also called string in python. string can have both ' ' and " ".
print(d)
#int a=10; 
#typeof(a);
print(type(a))
print(type(b))
print(type(c))
type(d)

5
5.5
I am a student
a
<class 'int'>
<class 'float'>
<class 'str'>

str

In [1]:
#taking input in python
#for taking string input, use input() function
#default input type is string in python
name=input("Enter name: ")
print("My name is",name)

Enter name: chandu
My name is chandu

In [2]:
#incase, u want to input an integer or float, do type casting by mentioning int() or float()
marks=int(input("Enter marks"))
print(marks)
percentage=float(input("Enter percentage"))
print(percentage)

Enter marks80
80
Enter percentage98.67
98.67

In [3]:
#if u want to take multiple inputs in same line,use split() method
subjects=input("Enter subjects: ").split()
print(subjects)

Enter subjects: os dbms coa
['os', 'dbms', 'coa']

In [4]:
#conditional statements
x=int(input()) #input a number
if(x>=0):
    print("positive no.") #if x is greater than 0, it will print positive number

7
positive no.

In [5]:
#incase, u want to print anything if the "if statement" does not work,we can use else stmt without condition.
x=int(input())
if(x>=0):
    print("positive no. ")
else:
    print("negative no. ")

-8
negative no.

In [6]:
#incase, you have more conditions,use else if or elif statement with condition.
n=int(input())
if(n==0):  #to represent equality use, "==". for assigning a value u can use "=".
    print("this is neither positive nor negative")
elif(n>0):
    print("this is a positive no.")
else:
    print("this is a negative no.")

0
this is neither positive nor negative

In [12]:
#list-a data structure in python
#declaring list
l=[2,3,4,5,"string","myname",55.5] #list can have different data types in it unlike arrays. use"[]" to declare list
print(l)

[2, 3, 4, 5, 'string', 'myname', 55.5]

In [13]:
#accessing elements in list
print(l[0]) #mind that indexing in python starts from "0".

2

In [16]:
print(l[1])
print(l[2])
print(l[3])
print(l[4])
print(l[5])
print(l[6])

#l=[0,1,2,3,4,5]
#index of 5==-1
#index of 4==-2

3
4
5
string
myname
55.5

In [18]:
#methods used in list
#1)splitting based on start,end and step
print(l[4:6]) #prints l[1],l[2],l[3] but not l[4] because index 4 is not included

#list_1[start:end:step]

['string', 'myname']

In [19]:
#u can also use step
print(l[0:5:2])  #prints l[0],l[2],l[4]. step is used to skip the values.

[2, 4, 'string']

In [20]:
#there is also negative splitting to access elements in reverse order
print(l[-3:-1]) #prints l[-3],l[-2]

['string', 'myname']

In [21]:
print(l[:3]) #indicates printing from starting to index 2
print(l[3:]) #prints numbers from index 3 to end index(till end of the list)

[2, 3, 4]
[5, 'string', 'myname', 55.5]

In [22]:
#list methods: 
#1) To add new elements to end of the list,use append method and give a parameter of element u want to append
l.append("string")
print("appended list",l)
#2)count method can be used to count the number of times a specific element has occured in the list
k=l.count("string")
print("count",k)
#3)index method gives the index at which specific element has occured
p=l.index(5)
print("index",p)
#4)max and min methods are used to find maximum and minimum elements in a list
#since,max and min can only be applied on numeric data we create a numeric list
a=[2,67,34,55,6.8,3.5]
max_e=max(a)
print("maximum is",max_e)
min_e=min(a)
print("minimum is,",min_e)

appended list [2, 3, 4, 5, 'string', 'myname', 55.5, 'string']
count 2
index 3
maximum is 67
minimum is, 2

In [23]:
#insert method is used to insert an element at a position. insert(index,element)
b=["can",34,55,6.7,"dream","j"]
b.insert(5,"chandu")
b.insert(2,97)
print(b)

['can', 34, 97, 55, 6.7, 'dream', 'chandu', 'j']

In [24]:
#finally,len() function is used to find the length of the list
a=[2,45,67,83,45]
n=len(a)
print(n)

5

In [25]:
#pop method is used to remove an element at a specified INDEX
s=a.pop(3)
print(s)
print(a)
last=a.pop() #if nothing is specified pop method removes last element of list
print(last)
print(a)

83
[2, 45, 67, 45]
45
[2, 45, 67]

In [26]:
#reversing whole list
b.reverse()
print(b)

['j', 'chandu', 'dream', 6.7, 55, 97, 34, 'can']

In [27]:
#for sorting list, use sort() method which by default sorts in ascending order
#b.sort() gives error since we can sort only when list has elements of single data type
a=[23,53,0,-30,45,32,67,-123,89,56,102]
a.sort()
print(a)

[-123, -30, 0, 23, 32, 45, 53, 56, 67, 89, 102]

In [28]:
#to sort in DESCENDING ORDER,use parameter reverse
a.sort(reverse=True)  #descending
print(a)
a.sort(reverse=False)   #ascending
print(a)

[102, 89, 67, 56, 53, 45, 32, 23, 0, -30, -123]
[-123, -30, 0, 23, 32, 45, 53, 56, 67, 89, 102]

In [29]:
#remove() also works like pop() but parameter used in reverse shouldn't be index, it should be the element itself
a.remove(56)  #to use pop for this case, u can mention a.pop(index of 56)
print(a)

[-123, -30, 0, 23, 32, 45, 53, 67, 89, 102]

In [30]:
#delete method deletes the whole list
del(l)
print(l) #gives error since after deleting,there is no list named l

NameError: name 'l' is not defined

In [33]:
#extend method is used to join two lists end by end
print("a: ",a)
print("b: ",b)
a.extend(b)
print(a) #appends b to a

a:  [-123, -30, 0, 23, 32, 45, 53, 67, 89, 102, 'j', 'chandu', 'dream', 6.7, 55, 97, 34, 'can', 'j', 'chandu', 'dream', 6.7, 55, 97, 34, 'can']
b:  None

TypeError: 'NoneType' object is not iterable

In [38]:
#for printing each element in list, u can use loops instead of printing each element
#FOR LOOP
k=[2,"str",34,56,"yt",78]
#for i in range(len(k)):
#   l[i]
for i in k:
    print(i)  #prints all the elements of a list
k=k[1:4]
print(k)
k.reverse()
print(k)
k=k[::-1]

#  6 7 8 4 3
#i:0 1 2 3 4
#0-1=-1
#-1-1=-2
print(k)

2
str
34
56
yt
78
['str', 34, 56]
[56, 34, 'str']
['str', 34, 56]

In [37]:
#NEXT IS TUPLE, A DATA STRUCTURE REPRESENTED WITH ()
#tuples are immutable,once created they cannot be changed. but lists are mutable
t=(2,3,"str",55,89.7)
print("tuple is",t)
q=(2,3.5,-4,77,89,56,4.5,-34)
#use sorted method to sort a tuple and as they are immutable, assign the sorted list to new tuple
p=sorted(q)
print("sorted tuple is",p)
#we can use max and min here also
min_e=min(q)
max_e=max(q)
print("minimum,maximum are",min_e,max_e)
#splitting
s=q[0:4]
print("splitted tuple",s)
#reversed tuple
t=q[::-1]
print("reversed tuple is ",t)

tuple is (2, 3, 'str', 55, 89.7)
sorted tuple is [-34, -4, 2, 3.5, 4.5, 56, 77, 89]
minimum,maximum are -34 89
splitted tuple (2, 3.5, -4, 77)
reversed tuple is  (77, -4, 3.5, 2)

In [40]:
#to make tuples mutable convert them to lists and access them
t1=list(t)
print(t1)
#to check the datatype of a variable or data structure use type() function
print(type(t1))
t1.insert(2,97)
w=tuple(t1)
print(w)
#now u can use t1 to change or sort or etc.
#there is also a vice versa available. list can be converted into tuple
e=tuple(a)
print(e)
print(type(e))

[77, -4, 3.5, 2]
<class 'list'>
(77, -4, 97, 3.5, 2)
(-123, -30, 0, 23, 32, 45, 53, 67, 89, 102, 'j', 'chandu', 'dream', 6.7, 55, 97, 34, 'can', 'j', 'chandu', 'dream', 6.7, 55, 97, 34, 'can')
<class 'tuple'>

STRINGS AND STRING MANIPULATION FUNCTIONS

In [41]:
st="decidious"
print(st)
print(len(st)) #prints length of string
print(st[0:5]) #prints st from index 0 to 4
print(st[0:6:2]) #here 2 is the step

decidious
9
decid
dcd

In [42]:
#methods used
cap=st.capitalize()  #capitalizes 1st letter
print(cap)
up=st.upper() #converts all of them into upper case
print(up)
lo=st.lower()  #converts all of them into into lower case
print(lo)
iu=st.isupper()   #prints true if all are in upper case
print(iu)
il=st.islower()  #prints true if all are in lower case
print(il)

Decidious
DECIDIOUS
decidious
False
True

In [43]:
re=st.replace("i"," ") #wherever it finds i in the string it replaces by space
print(re)
rp=st.replace("d","k")
print(rp)

dec d ous
kecikious

In [44]:
st="abcd,ef"
st1=st.split(",")   #splits string into list whenever it finds ",". any other symbols can also be given
print(st1)
print(type(st))
print(type(st1))

['abcd', 'ef']
<class 'str'>
<class 'list'>

In [45]:
#strip() function is used to remove the occurences of a char u provide
st2="!!!!hello!!!!"
st2.strip("!")

'hello'

In [46]:
st2="!!!!!!hello!!!!!hello!!!!"
st2.strip("!")   #removes only leading and trailing characters

'hello!!!!!hello'

In [47]:
st2.lstrip("!") #strips off "!" on left side

'hello!!!!!hello!!!!'

In [48]:
st2.rstrip("!")  #strips off "!" on right side

'!!!!!!hello!!!!!hello'

In [50]:
#Dictionary is another data structure wherein the values will be in key: value pairs. so, it is more flexible to use when we know the keys neede and values assigned to them.
dictionary={
            "name":"chandu",
            "cls":"csec",
            "clg":"gnits"
           }
dict2={
    1:"swarna",
    2:"shreya",
    3:"harshi"
}
print(dictionary)
print(dictionary["cls"])  #prints the value assigned to "name"

print(dict2[2])

{'name': 'chandu', 'cls': 'csec', 'clg': 'gnits'}
csec
shreya

In [51]:
#to convert the strings to dictionaries, one can use maketrans() method, which is used for 1:1 mapping of strings
st3="abc"
st4='def'
st="abc"
print(st.maketrans(st3,st4))  #HERE,"st3" is used as key wherein a,b,c are keys and corresponding values of keys are d,e,f.
#but their ascii values are printed

{97: 100, 98: 101, 99: 102}

LOOPS

In [8]:
#FOR LOOP:
#the syntax is for variable in list/range(number). #range() function is used to specify the start,end and step values
#let us print 2 table or multiples of 2 upto 10
n=int(input())
for i in range(1,10): #default step is 1,so no need to mention. #INDENTATION IS COMPULSORY for(int i-0;i<r;i++){}
    print(n,"*",i,"= ",n*i)

5
5 * 1 =  5
5 * 2 =  10
5 * 3 =  15
5 * 4 =  20
5 * 5 =  25
5 * 6 =  30
5 * 7 =  35
5 * 8 =  40
5 * 9 =  45

In [9]:
#achieving same with while loop:
i=1;
while(i<=10):
    print("2*",i,"= ",2*i)
    i+=1;     #updating statement

2* 1 =  2
2* 2 =  4
2* 3 =  6
2* 4 =  8
2* 5 =  10
2* 6 =  12
2* 7 =  14
2* 8 =  16
2* 9 =  18
2* 10 =  20

In [10]:
#break and continue statements:
for i in range(5):
    if(i==3):
        break   #comes out of loop if "3" is encountered and moves to next stmt after the loop
    else:
        print(i)
print("hi")

0
1
2
hi

In [11]:
#continue statement skips that part and repeats loop again 
for i in range(5):
    if(i==3):
        continue   #skips "3" and performs next iteration
    else:
        print(i)
print("hi")

0
1
2
4
hi

In [ ]:
t=(45,87,89,65,23)
for i in t:
    print(i,end=" ")  #end=" " prints all in single line with spaces
print() #prints new line
print()
#by while loop also,we get same output
i=0;
while(i<len(t)):
    print(t[i])
    i+=1

TAKING INPUT IN LISTS

In [ ]:
#best way is using map() function which takes 2 parameters. 1st is datatype.
lt2=list(map(int,input().split()))
print(lt2)

FUNCTIONS

In [ ]:
#in python functions are dfined by the keyword "def" followed by function name() and colon.
#then on indent ur code with 4 spaces or a tab space and complete the logic.
#After that,call the function
def abc():
    print("Hello")
abc()

In [ ]:
#checking even or odd number using functions.
def evenodd():
    if(a%2==0):
        return "even"     #returns even if it is divisible by 2 else returns odd 
    else:
        return "odd"
a=int(input())
print(evenodd())

MADE BY DVS.CHANDANA, for any doubts email me at dvs6112001@gmail.com

In [52]:
4**2

16

In [54]:
b=3+7j
type(b)

complex

In [55]:
b=5
bin(5)

'0b101'

In [56]:
l=[2,3,6,6.7]
if 2 in l:
    print(2)

2

In [58]:
str1="hffhgdggjhmjcgxgfuiytyf"
if "gxg" not in str1:
    print("hi")

In [61]:
a=42
b='42'
if a is not b:
    print(True)

True

In [63]:
print(hex(5))
print(oct(5))
bin(5)

0x5
0o5

'0b101'

In [67]:
import math as my
my.sqrt(49)

7.0

In [68]:
pow(2,3)

8

In [69]:
chr(65)

'A'

In [70]:
ord('A')

65